<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container">
    	<div class="carousel">
    		<div class="graph graph--green" data-json="data/revenue.json"></div>
	    	<div class="graph graph--blue" data-json="data/impressions.json"></div>
	    	<div class="graph graph--yellow" data-json="data/visits.json"></div>
    	</div>
    </div>
</body>
</html>
