html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

$browser_context: 16; // Default

@function rem($pixels, $context: $browser_context) {
    @return #{$pixels/$context}rem;
} 
  
@function em($pixels, $context: $browser_context) {
    @return #{$pixels/$context}em;
}

html{
	height: 100%;
}

body{
	font-family: Arial;
	margin: 0;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 em(35);
}

.carousel{
	width: 100%;
	max-width: em((270 * 3) + (75 * 2));

	.flickity-page-dots{
		position: static;
		margin-top: em(35);
	}
}

.graph{
	display: inline-block;
	width: em(265);
	height: em(220);
	padding-bottom: em(10);
	border-bottom: 2px solid #E4E4E4;
	position: relative;

	&:not(.loaded){
		&:before{
			content: "Loading...";
			text-transform: uppercase;
			font-size: em(14);
			color: #E4E4E4;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&:not(:last-child){
		margin-right: em(75);
	}

	&__container{
		width: em(160);
		height: em(160);
		margin: 0 auto em(5);
		position: relative;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: center;
		border-radius: 50%;
		overflow: hidden;

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			border-radius: 50%;
			border: em(15) solid #FFF;
		}

		.graph-donut{
			position: absolute;
			top: 0;
			left: 0;
		}

		.graph-line{
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__title{
		text-align: center;
		margin-top: em(45);

		h3{
			font-size: 1em;
			color: #A5A5A5;
			margin: 0;
			text-transform: uppercase;
			font-weight: normal;
		}

		h4{
			font-size: em(22);
			color: #3E3E3E;
			margin: 0;
			font-weight: normal;
		}
	}

	&-legend{
		display: flex;
		justify-content: space-between;
		font-size: em(14);
	
		h4, p{
			margin: em(5) 0;
		}

		&__item{
			color: #C2C2C2;

			strong{
				display: inline-block;
				margin-right: em(5, 14);
				color: #808080;
				font-weight: normal;
			}

			&:nth-child(2){
				text-align: right;
			}
		}
	}

	&-donut{
		pointer-events: none;
	}

	&-line{
		.line{
			fill: none;
			stroke-width: 2px;
		}
	}

	/*Green theme*/
	&--green{
		.graph{
			&-donut{
				&__data{
					&:nth-child(1){
						fill: #3C6917;
					}
					&:nth-child(2){
						fill: #8AD540;
					}
				}
			}

			&-line{
				.area{
					fill: #F6FBF3;
				}
				.line{
					stroke: #D8F0C3;
				}
			}

			&-legend{
				&__item{
					&:nth-child(1){
						h4{
							color: #8AD540;
						}
					}
					&:nth-child(2){
						h4{
							color: #3C6917;
						}
					}
				}
			}
		}
	}

	/*Blue theme*/
	&--blue{
		.graph{
			&-donut{
				&__data{
					&:nth-child(1){
						fill: #2E5662;
					}
					&:nth-child(2){
						fill: #75C9E1;
					}
				}
			}

			&-line{
				.area{
					fill: #F6FAFB;
				}
				.line{
					stroke: #CEECF7;
				}
			}

			&-legend{
				&__item{
					&:nth-child(1){
						h4{
							color: #75C9E1;
						}
					}
					&:nth-child(2){
						h4{
							color: #2E5662;
						}
					}
				}
			}
		}
	}

	/*Yellow theme*/
	&--yellow{
		.graph{
			&-donut{
				&__data{
					&:nth-child(1){
						fill: #BA5722;
					}
					&:nth-child(2){
						fill: #F1C330;
					}
				}
			}

			&-line{
				.area{
					fill: #FCFAF3;
				}
				.line{
					stroke: #F7ECB7;
				}
			}

			&-legend{
				&__item{
					&:nth-child(1){
						h4{
							color: #F1C330;
						}
					}
					&:nth-child(2){
						h4{
							color: #BA5722;
						}
					}
				}
			}
		}
	}
}